* {
  --black-color: black;
  --bg-color: #1e1e24;
  --text-color: white;
}

.modal-game {
  height: 85vh;
}

.mastermind {
  border: solid --black-color 1px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #b97958;
  max-width: 70%;
  margin: auto;
  margin-top: 30px;
  padding: 5px;
  gap: 15px;
}

.board-game {
  display: flex;
  flex-direction: column;
  border: solid black 1px;
}

.board-game div div {
  box-shadow: 1px 1px 1px black;
}

.lap-area {
  display: flex;
  flex-direction: row;
  width: auto;
  gap: 50px;
  height: 45px;
}

.board-guess {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: solid black 1px;
  padding: 5px;
}

.box-with-pawns {
  background-color: #63d5a4;
  border: solid black 1px;
  border-radius: 5px;
}

.submit-combinaison {
  display: flex;
  flex-direction: column;
}

.input-area {
  border: 1px solid black;
  min-width: 64px;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 10px; */
  background-color: rgb(182, 182, 182);
}

.color-box-area {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  display: inline-block;
  background-color: antiquewhite;
}

.color-box-area-result {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  display: inline-block;
  background-color: antiquewhite;
}

.color-box-submit {
  width: 16px;
  height: 16px;
  border-radius: 50px;
  display: flex;
}

.color-box {
  width: 32px;
  height: 32px;
  border-radius: 50px;
  display: inline-block;
}

.color-box-dropped {
  width: 32px;
  height: 32px;
  border-radius: 50px;
  display: inline-block;
}

.box-with-pawns {
  display: grid;
  grid-template-areas:
    "color1 color2 color3"
    "color4 color5 color6";
}

.lap-area {
  display: flex;
}

.btn-submit-combinaison {
  border: solid black 2px;
  color: black;
  background-color: var(--color-orange-text-border);
}

.lap-area-result {
  font-size: 20px;
}

/* [draggable] {
    user-select: none;
} */

/* 

  RESPONSIVE


*/

/* MOBILE VERSION */
@media only screen and (max-width: 600px) {

  .mastermind {
    width: 100%;
    height: 100vh;
  }

  .color-box-area, .color-box-area-result, .color-box {
    width: 15px;
    height: 15px;
  }

  .box-with-pawns {
    width: auto;

  }

  .result-combinaison button, .result-combinaison p {
    font-size: 10px;
  }

  .board-guess {
    width: auto;
    gap: 0;
    padding: 0;
  }

  .input-area {
    width: auto;
  }

  .result-combinaison p {
    display: none;
  }
  .lap-area {
    gap: 10px;
  }
}

@media only screen and (min-width: 830px) and (max-width: 1024px) {
  
}
/* 

  FIN RESPONSIVE


*/
